@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Lato', sans-serif;
    display: flex;
    
}

main{
    display: flex;
    flex-flow: row;
    height: 100%;
    width: 100%;
}

.credit-card-info{
    flex-basis: 60%;
    background: #89ABE3;
    background-image: url(./images/main-bg.png);
    background-repeat: no-repeat;
    background-position: bottom left;
    padding: 13vh 5vw;
    color: #FCF6F5;
}

.credit-card-links{
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.445);
    display: flex;
    gap: 30px;
    width: 50%;
}

.credit-card-links a{
    text-decoration: none;
    font-weight: 600;
    color: #fff;
    font-size: 1.3em;
}

.cred-card{
    border-bottom: 2px solid #fff; 
    flex-basis: 50%;  
}

.credit-card-info img{
    transform: scale(75%);
    margin: 8vh 0 6vh 0;
}

.card-info{
    display: flex;
    flex-flow: column;
    gap: 2vh;
    width: 100%;
}

.c-info-label{
    font-size: 14px;
    color: #fff;
    opacity: 0.7;
    
}

.top-part{
    display: flex;
    flex-flow: column;
    gap: 20px;
    width: 300px;
    margin-top: 4vh;
}

.inputs{
    border: 0;
    background-color: rgba(255, 255, 255, 0);
    border-bottom: 1px solid #fff;
    font-size: 16px;
    height: 50px;
    color: #fff;
    width: 120%;
    
}



.inputs::placeholder{
    color: #fff;
    padding: 0 0 0 10px;
    font-family: 'Lato';
    font-size: 20px;
}

.date-cvv{
    display: flex;
    flex-flow: row;
    gap: 100px;
    margin-top: 4vh;
}

.date{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 25%;
}



.cvv{
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-basis: 15%;
}

.cvv-icon{
    display: flex;
    flex-direction: row;
    margin: 0;
}

.cvv-icon img{
    margin: -2vh 0.1vw -2vh 0.8vw ;
    transform: scaleX(120%) scale(70%);
    
}



input[type=submit]{
    width: 250px;
    height: 40px;
    background: #fcf6f5;
    border: 0;
    color:#4986E0F2;
    font-size: 22px;
    padding: 10px 20px;
    border-radius: 15px;
    font-weight: 600;
    margin: 60px;

}

input[type=submit]:hover{
    cursor: pointer;
    background-color: #4986E0;
    color: #fff;
    border: 2px solid #fff;
    padding: 5px 10px;
}

.details{
    flex-basis: 40%;
    padding: 3vh 4vw;
    background-color: #FCF6F5B2;
    color: #4986E0;
}

.back{
    display: flex;
    justify-content: flex-end;
}

.details-content{
    margin-top: 7vh;
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: 7vh;
}

.details-content h2{
    font-size: 1.8em;
}

.details-content h4{
    font-size: 1.8em;
}

em{
    font-size: 2.5em;
    font-weight: 800;
}

.features{
    display: flex;
    flex-direction: column;
    gap: 5vh;
}

.features .feature{
    display: flex;
    gap: 2vw;
    font-size: 1.2em;
    font-weight: 500;
}








